<h1>its blackjack</h1>
<!--<p><%#=@parsed_response%></p><br>
--><!--<p>The raw response</p><br>
<p><%#=@raw_response%></p>
<p>1.)The keys:</p><br>
<p><%#=@keys%></p>
<p>2.)The cards:</p><br>
<p><%#=@cards%></p>-->

<!--<p>3.)The cards hash:</p><br>
<p><%#=@card_one_hash%></p>-->

<p>4.)The cards value:</p><br>
<p><%=@card_one_value%></p>
<p><%=@card_two_value%></p>
<button onclick="" >Hit</button>

<p>4.)The cards image:</p><br>
<img src="<%=@card_one_image%>" alt="<%=@card_one_value%> of <%=@card_one_suit%>">
<img src="<%=@card_two_image%>" alt="<%=@card_two_value%> of <%=@card_two_suit%>">
<!--<p><%#=@card_image%></p>-->
<!--<p>4.)The cards keys:</p><br>
<p><%#=@card_keys%></p>-->
