<h1>its blackjack</h1>
<!--<p><%#=@parsed_response%></p><br>

<p>1.)The keys:</p><br>
<p><%#=@keys%></p>

<p>2.)The cards:</p><br>
<p><%#=@cards%></p>-->

<!--<p>3.)The cards hash:</p><br>
<p><%#=@card_one_hash%></p>-->
<div class="container">
  <div class="dealers_cards row">
    <div class="card-column col">
      <img src="<%=@dealers_first_image%>" alt="">
    </div>
    <div class="card-column dealerSecondCard col">
      <img class="dealerSecondImage" src="<%=@backOfCard%>" alt="">
    </div>
    <div class="card-column dealerThirdCArd ">
      <img class="dealerThirdImage" src="" alt="">
    </div>
    <div class="card-column dealerFourthCard">
      <img class="dealerFourthCard" src="" alt="">
    </div>
    <div class="card-column dealerFifthCard ">
      <img class="dealerFifthCard" src="" alt="">
    </div>
    <div class="card-column dealerSixthCard ">
      <img class="dealerSixthCard" src="" alt="">
    </div>
  </div>
</div>

<p>4.)The cards value:</p><br>
<p>Your in the money</p>
<p>Card one <%=@card_one_value%></p>
<p>Card two <%=@card_two_value%></p>
<p>Dealers total: <%=%></p>
<p class="playerTotal">Your total: <%=@startingHand%></p>

<p>4.)The cards image:</p><br>
<div class="container">
  <div class="players_cards row">
    <div class="card-column col">
      <img src="<%=@card_one_image%>" alt="<%=@card_one_value%> of <%=@card_one_suit%>">
    </div>
    <div class="card-column col">
      <img src="<%=@card_two_image%>" alt="<%=@card_two_value%> of <%=@card_two_suit%>">
    </div>
    <div class="card-column thirdCard">
      <img class="thirdImage" alt="">
    </div>
    <div class="card-column fourthCard">
      <img class="fourthImage"  alt="">
    </div>
    <div class="card-column fifthCard">
      <img class="fifthImage" alt="">
    </div>
    <div class="card-column sixthCard">
      <img class="sixthImage" alt="">
    </div>
  </div>
</div>
<button id="hit_button">Hit</button>
<button id="stand">Stand</button>
<button id="surrender">Surrender</button>
<button><a href="/blackjack">New game</a></button>
<!--<p>4.)The cards keys:</p><br>
<p><%#=@card_keys%></p>-->

<script>
let playerTotal = document.querySelector('.playerTotal')
let hit_button = document.querySelector('#hit_button')
let players_cards = document.querySelector('.players_cards')
let thirdImage = document.querySelector('.thirdImage')
let fourthImage = document.querySelector('.fourthImage')
let fifthImage = document.querySelector('.fifthImage')
let sixthImage = document.querySelector('.sixthImage')
let thirdCard = document.querySelector('.thirdCard')
let fourthCard = document.querySelector('.fourthCard')
let fifthCard = document.querySelector('.fifthCard')
let sixthCard = document.querySelector('.sixthCard')

let dealerSecondCard = document.querySelector('.dealerSecondCard')
let dealerThirdCard = document.querySelector('.dealerThirdCard')
let dealerFourthCard = document.querySelector('.dealerFourthCard')
let dealerFifthCard = document.querySelector('.dealerFifthCard')
let dealerSixthCard = document.querySelector('.dealerSixthCard')

let dealerSecondImage = document.querySelector('.dealerSecondImage')
let dealerThirdImage = document.querySelector('.dealerThirdImage')
let dealerFourthImage = document.querySelector('.dealerFourthImage')
let dealerFifthImage = document.querySelector('.dealerFifthImage')
let dealerSixthImage = document.querySelector('.dealerSixthImage')

let numClick = 0
let cardNumberValue = "<%=@startingHand.to_i%>"

  document.querySelector('#hit_button').onclick = () => {
  if(numClick == 0 && cardNumberValue < 21){
  playerTotal.innerText = "Your total: <%=@startingHand.to_i + @card_three_value.to_i%>"
  thirdImage.setAttribute("src", "<%=@card_three_image%>");
  thirdCard.setAttribute("class", "thirdCard col")
  numClick +=1
  cardNumberValue += <%=@card_three_value.to_i%>
  } 
  else if(numClick == 1 && cardNumberValue < 21){
  playerTotal.innerText = "Your total: <%=@startingHand.to_i + @card_three_value.to_i + @card_four_value.to_i%>"
    fourthImage.setAttribute("src", "<%=@card_four_image%>");
    fourthCard.setAttribute("class", "fourthCard col")
  numClick +=1
  }
  else if(numClick == 2 && cardNumberValue < 21){
  playerTotal.innerText = "Your total: <%=@startingHand.to_i + @card_three_value.to_i + @card_four_value.to_i + @card_five_value.to_i%>"
    fifthImage.setAttribute("src", "<%=@card_five_image%>");
    fifthCard.setAttribute("class", "fifthCard col")

  numClick +=1
  }
  else if(numClick == 3 && cardNumberValue < 21){
  playerTotal.innerText = "Your total: <%=@startingHand.to_i + @card_three_value.to_i + @card_four_value.to_i + @card_five_value.to_i + @card_six_image.to_i%>"
    sixthImage.setAttribute("src", "<%=@card_six_image%>");
    sixthCard.setAttribute("class", "sixthCard col")

  numClick +=1
  }
  }
  let dealerCount = 0
  if(dealerCount < 17 && cardNumberValue >= 21){
    dealerSecondImage.setAttribute('src', "<%=@dealers_second_image%>")
  }
</script>
