<h1>Blackjack</h1>
<div class="container">
<!--<div class=""></div>-->
<p><%=@num%></p>
<p><%=@pile%></p>
<div class="container">
  <div class="row">
<% @pile.each do |items| %>
    <div class="col-2">
      <p><%= items %></p>
    </div>
<%end%>
<p>first array pull:
<%=@updated_array%>
</p>
<p>second total:
<%=@me_two%>
</p>
<p>second array pull:
<%=@updated_array2%>
</p>
<p>third total:
<%=@me_three%>
</p>
<p>third array pull:
<%=@updated_array3%>
</p>
<p>fourth total:
<%=@me_four%>
</p>
<p>fourth array pull:
<%=@updated_array4%>
</p>
<p>fifth total:
<%=@me_five%>
</p>

<p>fifth array pull:
<%=@updated_array5%>
</p>
<p>sixth total:
<%=@me_six%>
</p>

  </div>
</div>
<div id="folder"></div>


<button id="hit_button"
>Add number</button>
</div>
<script>
let folder = document.getElementById('folder')
let hit_button = document.querySelector('#hit_button')
let p = document.createElement('p')
p.innerText = "total: <%=@me%>"
folder.append(p)
let numClick = 0


document.querySelector('#hit_button').onclick = () => {
  if(numClick == 0){
  p.innerText = "total: <%=@me + @me_two%>"
  numClick +=1
  }else if(numClick == 1){
  p.innerText = "total: <%=@me + @me_two + @me_three%>"
  numClick +=1
  }else if(numClick == 2){
  p.innerText = "total: <%=@me + @me_two + @me_three + @me_four%>"
  numClick +=1
  }else if(numClick == 3){
  p.innerText = "total: <%=@me + @me_two + @me_three + @me_four + @me_five%>"
  numClick +=1
  }
}

</script>
